<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ahmed.redux">

    <application
        android:name=".Application.ApplicationGlobal"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true">

        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:launchMode="standard"
            android:theme="@style/MyMaterialTheme.launchersplash"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialThemezzz">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".Activities.PrivacyPolicyActivity"
            android:parentActivityName=".Activities.SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialThemezzz">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.SettingsActivity" />
        </activity>


        <activity android:name=".Activities.OpenSourceActivity"
            android:parentActivityName=".Activities.SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialThemezzz">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.SettingsActivity"/>
        </activity>



        <activity android:name=".Activities.AboutActivity"
            android:parentActivityName=".Activities.SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialThemezzz">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.SettingsActivity"/>
        </activity>

        <activity android:name=".Activities.ProfileActivity"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialThemezzz">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity android:name=".Activities.FeedBackActivity"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialThemezzz">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>



    </application>

</manifest>